<div class="p-3 mb-4 bg-light rounded-5 text-center">
    <div class="container py-5">
        <h1 class="display fw-bold ">Kayseri Kartlar</h1>
        <p class="fs-4 text-black-50">Kart işlemleri için lütfen kayıt olun.</p>
    </div>
</div>