<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">KayseriUlasimApp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">Anasayfa</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Card" asp-action="Cards" class="nav-link">Kartlar</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Register" asp-action="Index" class="nav-link">Kayıt Ol</a>
            </li>
        </ul>
    </div>
</nav>