@model Card
<h2>Kayıt Ol</h2>

<div class="tab-content py-3 px-3 px-sm-0">
    <form id="contact-form">
        <div class="form-row">
            <div class="form-group col-12">
                <input type="text" name="Ad-Soyad" class="form-control" data-validetta="required"
                    placeholder="Adı Soyadı" value="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <input type="tex" name="E-Posta" class="form-control" data-validetta="required"
                    placeholder="Cep Telefonu Numarası veya E-posta" value="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <input type="password" name="sifre" class="form-control" data-validetta="required" placeholder="Şifre"
                    value="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-4 text-right">
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Kayıt
                    Ol</a>
            </div>
        </div>
    </form>
</div>