@model List<Card>
    @section Header{
    @await Html.PartialAsync("_Header")
    }

    <div class="container pb-lg-5 text-center"
        style="margin-top: 50px; margin-left: 360px; position:relative; width: 1000px; height: 500px;">
        <div class="row-6">
            <div class="col-5">
                <div class="logo pb-lg-4">
                    <img src="~/img/logo.png" class="card-img-top" alt="" style="height: 100px; width: 175px;">
                </div>
                <img src="~/img/1.jpg" class="card-img-top" alt="">
                <h2 class="card-title">
                    KART38 NEDİR?
                </h2>
                <p class="card-text ">Kart38, şehir içindeki tüm toplu taşıma araçlarında indirimli seyahat etmenizi
                    sağlayan ulaşım kartıdır.
                    Kart38, Kayseri de ulaşım hizmetlerinin çağa uygun şekilde zahmetsiz, hızlı ve pratik bir şekilde
                    sizlere sunulmasını sağlar. Kart38 ile Kayseri şehir iç otobüs, tramvay hatlarında ve Kayseri Şehir
                    Merkezi ile İlçeleri arasında seyahat edebilirsiniz.</p>
            </div>
        </div>
    </div>
    <div class="container pb-lg-5 text-center"
        style="margin-top: 70px; margin-left: 10px; position:relative; width: 2000px; height: 500px;">

        <div class="row">
            @foreach(var kart in Model){

            <div class="col-3 mb-5">
                <div class="card">
                    <img src="~/img/@kart.Image" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            @kart.Title
                        </h5>
                        <p class="card-text">@kart.Description</p>
                        <a class="btn btn-primary" asp-controller="Register" asp-action="Index"
                            asp-route-id="@kart.Id">Başvuru</a>
                    </div>
                </div>
            </div>
            }

        </div>